main{
  color: #444444;
}
table.contents{
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

table.contents th,table.contents td{
  padding: 10px 0;
  text-align: center;
}

table.contents tr:nth-child(odd){
  background-color: #eee;
}

h1{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: xx-large;
}

h2{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: large;
}

.sentence{
  padding-left: 7.5px;
}
